@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Semibold.eot')
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype')
  font-weight: 600
  font-style: normal


@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham'
  src: url('../fonts/Gotham-Medium.eot')
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff2') format('woff2'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal

*
  box-sizing: border-box

body
  font-size: 14px
  font-family: 'Proxima Nova', sans-serif
  font-weight: normal
  color: #000000
