@require '../../styles/variables.styl'


.page
  width: 1170px
  margin: 0 auto
  padding-top: 20px

  &-logo
    display: block

  &-sidebar
    float: left
    width: 400px
    margin: 43px 66px 0 0

