@require '../../styles/variables.styl'

.sidebar-product
  border: 1px solid $gray
  padding: 40px 30px

.sidebar-product-image
  text-align: center

.sidebar-product-table
  width: 100%

.sidebar-product-value
  text-align: right

.sidebar-product-info
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray

.sidebar-product-link
  cursor: pointer
  color: $pink
  border-bottom: 1px dashed $dark-gray
